<!DOCTYPE html>
<html>
<head>
  <title>Upcoming Events</title>
  <link rel="stylesheet" type="text/css" href="css/s-global.css">
  <link href='https://fonts.googleapis.com/css?family=Glegoo:400,700|Muli:400,300' rel='stylesheet' type='text/css'>
</head>

<body>

  <div class="container">
    <header>
      <h1>Upcoming Events</h1>
    </header>


  </div>

  <div class="clear"> </div>

  <footer>
    <p>Thanks for checking out my site.</p>
  </footer>

</body>
</html>
